# Project specific excludes & includes
**/lib/*
**/SwaggerClient-php/*
**/SwaggerClient-php/**
**/!SwaggerClient-php/INSTALL.md
**/openapi.json
**/php-client-generated.zip
**/.swagger-codegen-ignore
**/VERSION
# Force composer installation for education purposes
composer.lock
**/vendor/*
# General
.apdisk
.AppleDouble
.directory
.DS_Store
.fuse_hidden*
.idea/*
.LSOverride
.nfs*
.Trash-*
.vscode/*
Icon
Network Trash Folder
Temporary Items
