# Project specific excludes & includes
**/lib/*
**/SwaggerClient-php/*
**/SwaggerClient-php/**
**/!SwaggerClient-php/INSTALL.md
**/openapi.json
**/php-client-generated.zip
**/.swagger-codegen-ignore
**/VERSION
# Force composer installation for education purposes
composer.lock
vendor/*
# General
.DS_Store
.AppleDouble
.LSOverride
Icon
Network Trash Folder
Temporary Items
.apdisk
.fuse_hidden*
.directory
.Trash-*
.nfs*
.idea/*
